body {
    margin: 0;
    padding: 20px 160px;
    background: #ccee66;
    color: white;
    height: 100vh;
    overflow: hidden;
    font-family: "Noto Sans", sans-serif;
    z-index: 3;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
}

body::before {
    content: '';
    background: #090909;
    position: absolute;
    top
