body {
    margin: 0;
    padding: 0;
    background: #ccee66;
    color: white;
    padding: 20px 160px;
    height: 100vh;
    overflow: hidden;
    font-family: "Noto Sans", sans-serif;
    z-index: 3;
    position: relative;
}

body::before {
    content: '';
    background: #090909;
    position: absolute;
    top: 0;
    left: -990px;
    transform: rotate(-70deg);
    width: 100%;
    height: 120%;
}

body::after {
    content: 'Nike';
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #202020;
    font-size: 250px;
    font-weight: bold;
    opacity: 0.5;
}

.logo {
    width: 90px;
    z-index: 1;
    position: relative;
}

h4 {
    font-size: 30px;
}

h1 {
    font-size: 80px;
}

p {
    font-size: 16px;
    margin-bottom: 40px;
    align-items: center;
}

.botao-carrinho {
    background: #b3eb0b;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

.botao-carrinho:hover {
    opacity: 0.7;
}

.imagem-tenis {
    width: 800px;
    transform: rotate(-25deg);
    filter: drop-shadow(30px 45px 40px #161616);
    transition: 1s;
}

.troca-efeito {
    opacity: 0;
    transform: rotate(-25deg) translateY(-30px);
}

.box-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    z-index: 1;
    position: relative;
}

.box-texto {
    max-width: 500px;
}

.caixa-botoes {
    z-index: 2;
    position: relative;
    display: flex;
    gap: 20px;
}

.botoes {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    cursor: pointer;
}

.verde {
    background-color: #ccee66;
}

.azul {

    background-color: #58cced;
}

.rosa {
    background-color: #ff9eb5;
}

.botoes:active {
    opacity: 0.6;
}

body {
    font-size: 1rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .cabecalho {
        padding: 5%;
        text-align: center;
    }

    .cabecalho_link {
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    .apresentacao {
        flex-direction: column;
        padding: 5%;
        align-items: center;
        text-align: center;
    }

    .apresentacao_conteudo {
        width: 100%;
        align-items: center;
    }

    .apresentacao__links__navegacao,
    .contato {
        width: 100%;
    }
}